body {
    background-color: blanchedalmond;
    padding: 1.5rem;
}

.card-container {
    /* width: 1024px; */
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-rows: repeat(5, 4fr);
    grid-template-columns: repeat(4, 24%);
}

.description {
    margin: 0.5rem;
}

.description p {
    margin-bottom: 0.5rem;
}

span {
    font-size: 0.7rem;
    color: silver;
}

.card {
    /* width: 20%;
    height: 20%;
    margin: 0.25rem; */
    /* max-height: 25%; */
}

.card img {
    /* max-width: 25%; */
    /* max-height: 300px; */
    width: 100%;
}



@media only screen and (max-width: 1200px) {
    .card-container {
        grid-template-rows: repeat(7, 7fr);
        grid-template-columns: repeat(3, 33%);
    }
}

@media only screen and (max-width: 992px) {
    .card-container {
        grid-template-rows: repeat(10, 10fr);
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-rows: repeat(20, 20fr);
        grid-template-columns: repeat(1, 100%);
    }
}






